@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
  
    padding: 0 var(--_spacer) var(--_spacer);
  
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    width: 400px;
    margin: 10px
  }


  
  .z-devant {
      z-index:100;
  }

  .padding{
    padding: 5px;
  }